<h1>Signup</h1>
<form action="/signup/verificationCode" method="POST" class="signup vertical">
	<em>Fill the form bellow to sign up</em>
	<input type="text" name="name" placeholder="Full Name" required pattern="^.{4,150}$" />
	<input type="email" name="email" placeholder="Email" required />
	<input type="password" name="password" placeholder="Password" required />
	<input type="submit" value="Create Account" />
</form>
<form action="/signup" method="POST" class="signupVerification vertical">
	<em>A verification code was sent to the email addres: "<b class="email-address"></b>". Please check your emails and copy the verification code here:</em>
	<input type="text" name="verificationCode" placeholder="000000" />
	<input type="submit" value="Confirm" />
</form>
<script type="text/javascript">
H(function() {
	H('[name="verificationCode"]').on('input', function() {
		this.val(this.val().replace(/[^0-9]/g, '').substring(0, 6));
	});
	var $form = H('form.signup').on('submit', async (e) => {
		e.preventDefault();
		try {
			var data = controller.serializeForm($form);
			await controller.apiPost('/signup/verificationCode', data);
			$form.hide();
			H('form.signupVerification .email-address').text(data.email);
			H('form.signupVerification').css('display', 'flex').on('submit', async (e) => {
				e.preventDefault();
				try {
					await controller.apiPost('/signup', {
						...data,
						verificationCode	: H('form.signupVerification [name="verificationCode"]').val(),
					});
					gtag('event', 'sign_up');
					await H.delay(2000);
					location.href = '/';
				} catch(e) {console.error(e);}
			});
		} catch(e) {console.error(e);}
	});
});
</script>
