<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
	<url>
		<loc>https://_DOMAIN_/</loc>
		<lastmod>{{ today }}</lastmod>
		<changefreq>daily</changefreq>
		<priority>1.0</priority>
	</url>
	{% for page in pages %}
		<url>
			<loc>https://_DOMAIN_/{{ page }}</loc>
			<lastmod>{{ today }}</lastmod>
			<changefreq>daily</changefreq>
			<priority>0.95</priority>
		</url>
	{% endfor %}
</urlset>
