<strong style="display:inline-block;width:130px;">Subject</strong> {{ subject }}<br />
<strong style="display:inline-block;width:130px;">Email</strong> {{ email }}<br />
<strong style="display:inline-block;width:130px;">Message</strong>
<div style="margin-left:10px; padding:5px;">{{ message | nl2br | safe }}</div>
