<h1>Confirm your email address</h1>
<p>You have tried to signup for a <a href="https://_DOMAIN_/">_PROJECT_NAME_</a> account with this email address.<br />
To confirm your email address, please enter this verification code:<br />
<span style="font-size:35px;line-height:45px;">{{ verificationCode }}</span><br />
<br />
<em>This code expires after 2 hours.</em><br />
<br />
Thanks,<br />
_PROJECT_NAME_</p>
