							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<span style="font-size:10px">
									<em>Copyright © _PROJECT_NAME_, All rights reserved.</em><br>
									{% if unsubscribe_link %}
										<a style="word-wrap:break-word;color:#606060;font-weight:normal;text-decoration:underline" href="{{ unsubscribe_link }}">Unsubscribe from this list</a>
									{% endif %}
								</span>
							</td>
						</tr>
					</table>



					</td>
				</tr>
			</table>
		</center>
	</body>
</html>
